
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Department</title>
</head>
<body>
<a href="/create-department">Create new Department</a>
<h1>Department</h1>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="dep : ${department}">
        <tr>
            <td th:text="${dep.name}"></td>
            <td><a th:href="@{/edit-department/__${dep.id}__ }">Edit</a></td>
            <td><a th:href="@{/delete-department/__${dep.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>
